body {
    font-size: 16px;
    font-family: Roboto;
    color: #000000;
    line-height: 24px;
    font-weight: normal;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-size: 55px;
    font-family: Roboto;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}
h2 {
   font-size: 24px;
   font-family: Roboto;
   color: #000000;
   line-height: 30px;
   font-weight:  normal;
}
.main-header {
  outline-color: green solid 1px;
  background-color: darkgrey;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: darkcyan solid 1px;
}
.nav-block {
  width: 1160px;
  background-color: yellow;
}
.header-menu{
  width: 1160px;
  outline: black solid 1px;
}
.main-navigation {
  outline: blue solid 1px;
  width: 980px;
  float: left;
}
.basket {
  outline: red solid 1px;
  width: 160px;
  min-height: 65px;
  float: right;
}
.slider {
  width: 1160px;
  outline: magenta solid 1px;
  margin-bottom: 80px;
}
.catalog-title {
  width: 1160px;
  min-height: 165px;
  background-color: orange;
  outline: magenta solid 1px;
}
.services {
  width: 1100px;
  outline: black solid 1px;
  margin-bottom: 80px;
}
.services-items {
  width: 300px;
  min-height: 347px;
  outline: pink solid 1px;
}
.si-left {
  float: left;
}
.si-center {
  float: left;
  margin-left: 100px;
}
.si-right {
  float: right;
}
.about-us {
  width: 1160px;
  outline: green solid 1px;
  margin-bottom: 70px;
}
.about-us-content {
  width: 700px;
  float: left;
  outline: blue solid 1px;
}
.about-us-statistic {
  width: 400px;
  float: right;
  margin-left: 60px;
  outline: blue solid 1px;
}
.our-project-links {
  width: 1160px;
  outline: grey solid 1px;
  margin-bottom: 84px;
}
.project-link {
  width: 260px;
  min-height: 180px;
  margin-right: 40px;
  outline: cyan solid 1px;
  float: left;
}
.project-link:last-child {
  float: right;
  margin-right: 0;
}
.footer-top {
  width: 1160px;
  background-color: lightblue;
}
.footer-contacts {
  width: 320px;
  min-height: 310px;
  margin-top: 55px;
  margin-bottom: 55px;
  outline: red solid 1px;
  float: left;
}
.address-on-map {
  width: 700px;
  background-color: darkblue;
}
.footer-social {
  width: 1160px;
  min-height: 216px;
  margin-top: 55px;
  outline: orange solid 1px;
}
.promo {
  width: 800px;
  min-height: 216px;
  outline: black solid 1px;
  float: right;
}
.social-media-box {
  width: 300px;
  min-height: 216px;
  float: left;
  margin-right: 60px;
  background-color: yellow;
}
.page-body {
  width: 1160px;
  background-color: lightgreen;
  padding-top: 56px;
  margin-bottom: 60px;
}
.left-column {
  width: 260px;
  min-height: 780px;
  background-color: darkcyan;
  /*margin: 56px 140px 0 0;*//* заменяет padding-top: 56px в page-body */
  float: left;
}
.sample-list {
  width: 760px;
  float: right;
  /*margin-top: 56px;*//* заменяет padding-top: 56px в page-body */
  background-color: coral;
}
.gallery {
  width: 760px;
  background-color: pink;
}
.gallery-sample {
  width: 360px;
  min-height: 618px;
  outline: cyan solid 1px;
  float: left;
  margin-right: 40px;
  margin-bottom: 37px;
}
.gallery-sample:nth-child(2n) {
  float: right;
  margin-right: 0;
}
.page-nav {
  width: 480px;
  min-height: 50px;
  background-color: brown;
  float: left;
  margin-top: 60px;
}
.gallery-filter {
  width: 760px;
  height: 78px;
}
.popup-container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: darkcyan solid 1px;
  /*display: none;*/
}
.popup-window {
  width: 960px;
  min-height: 590px;
  margin: 0 100px 0;
  background-color: lightgreen;
}
.popup-title {
  width: 840px;
  min-height: 124px;
  margin-left:60px;
  margin-right: 60px;
  background-color: #8904B1;
}
.popup-head {
  width: 500px;
  min-height: 68px;
  margin-top: 56px;
  margin-left: 40px;
  float: left;
  outline: black solid 1px;
}
.popup-cls-btn {
  width: 80px;
  min-height: 68px;
  float:right;
  margin-top: 56px;
  margin-right: 20px;
  outline: black solid 1px;
}
.send-form {
  width: 760px;
  min-height: 466px;
  background-color: coral;
  margin-left: 100px;
  margin-right: 100px;
}
