body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    line-height: 24px;
    font-weight: 400;
    min-width: 1200px;
    background-color: #ffffff;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-size: 55px;
    font-family: Roboto;
    color: #000000;
    line-height: 55px;
    font-weight: normal;
}
h2 {
   font-size: 24px;
   font-family: Roboto;
   color: #000000;
   line-height: 30px;
   font-weight:  normal;
}
.main-header {
  outline-color: green solid 1px; /* delete */
  background-color: #eeeeee;
  padding-top: 50px;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: darkcyan solid 1px;
}
.nav-block {
  width: 1160px;
  min-height: 80px;
}
.header-menu{
  width: 1160px;
}
.logo-img {
  width: 160px;
  min-height: 80px;
  float: left;
  vertical-align: middle;
  outline: 1px dotted black;
}
.logo-img a:hover {
  opacity: 0.8;
}
.main-navigation {
  width: 760px;
  min-height: 80px;
  margin-left: 40px;
  /*padding: 0 160px;*/
  float: left;
  outline: blue solid 1px;
  }
.main-navigation ul {
  margin: 0;
  padding: 0 160px;
  list-style: none;
  font-size: 0;
  }
.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
}
.main-navigation a {
  display: block;
  padding: 0;
  margin:  25px 42px 25px 0;
  color: #000000;
  text-decoration: none;
}
.main-navigation a:nth-child(4) {
  margin: 25px 0 25px 0;
}
.main-navigation a:hover {
  color: #f69698;
}
.main-navigation .active {
  position: relative;
  color: black;
}
.main-navigation .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #f7898b;
}
.basket {
  float: right;
  max-width: 160px;
  min-height: 80px;
  margin-left: 40px;
  outline: red solid 1px;
}
.basket-icon {
  position: relative;
  display: inline-block;
  padding: 25px 42px 25px 85px;
  vertical-align: top;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.basket-icon:hover {
  color: #f69698;
}
.basket-icon::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 45px;
  width: 18px;
  height: 18px;
  background-image: url("img/icon-cart.png") no-repeat;
  outline: 1px solid red;

}
.slider {
  width: 1160px;
  height: 415px;
  outline: magenta solid 1px;
  margin-bottom: 80px;
  position: relative;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls i{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slider-controls .active{
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(255,255,0,0.1);
}
.slide-text{
    width:380px;
    padding:40px 0;
    color:#283136;
}
.slide-title{
    font-size:55px;
    line-height:55px;
    font-weight: bold;
    color:black;
    margin-top: 25px;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top: 28px;
    font-size:16px;
    line-height: 18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('img/slide1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide{
  display: none;
}
.slide:nth-child(2){
    display:block;
}
.slide:nth-child(2){
    background-image:url('img/slide2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('img/slide3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.catalog-title {
  width: 1160px;
  min-height: 165px;
  background-color: orange;
  outline: magenta solid 1px;
}
.services {
  width: 1100px;
  outline: black solid 1px;
  margin-bottom: 80px;
}
.services-items {
  width: 300px;
  min-height: 347px;
  outline: pink solid 1px;
}
.si-left {
  float: left;
}
.si-center {
  float: left;
  margin-left: 100px;
}
.si-right {
  float: right;
}
.about-us {
  width: 1160px;
  outline: green solid 1px;
  margin-bottom: 70px;
}
.about-us-content {
  width: 700px;
  float: left;
  outline: blue solid 1px;
}
.about-us-statistic {
  width: 400px;
  float: right;
  margin-left: 60px;
  outline: blue solid 1px;
}
.our-project-links {
  width: 1160px;
  outline: grey solid 1px;
  margin-bottom: 84px;
}
.project-link {
  width: 260px;
  min-height: 180px;
  margin-right: 40px;
  outline: cyan solid 1px;
  float: left;
}
.project-link:last-child {
  float: right;
  margin-right: 0;
}
.main-bottom {
  width: 1160px;
  background-color: lightblue;
}
.contacts {
  width: 320px;
  min-height: 310px;
  margin-top: 55px;
  margin-bottom: 55px;
  outline: red solid 1px;
  float: left;
}
.address-on-map {
  width: 700px;
  min-height: 420px;
  background-color: darkblue;
  float: right;
}
.footer-social {
  width: 1160px;
  min-height: 216px;
  /*margin-top: 55px;*/
  outline: orange solid 1px;
}
.promo {
  width: 800px;
  min-height: 216px;
  outline: black solid 1px;
  float: right;
}
.social-media-box {
  width: 300px;
  min-height: 216px;
  float: left;
  margin-right: 60px;
  background-color: yellow;
}
.page-body {
  width: 1160px;
  background-color: lightgreen;
  padding-top: 56px;
  margin-bottom: 60px;
}
.left-column {
  width: 260px;
  min-height: 780px;
  background-color: darkcyan;
  /*margin: 56px 140px 0 0;*//* заменяет padding-top: 56px в page-body */
  float: left;
}
.sample-list {
  width: 760px;
  float: right;
  /*margin-top: 56px;*//* заменяет padding-top: 56px в page-body */
  background-color: coral;
}
.gallery {
  width: 760px;
  background-color: pink;
}
.gallery-sample {
  width: 360px;
  min-height: 618px;
  outline: cyan solid 1px;
  float: left;
  margin-right: 40px;
  margin-bottom: 37px;
}
.gallery-sample:nth-child(2n) {
  float: right;
  margin-right: 0;
}
.page-nav {
  width: 480px;
  min-height: 50px;
  background-color: brown;
  float: left;
  margin-top: 60px;
}
.gallery-filter {
  width: 760px;
  height: 78px;
}
.popup-container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  outline: darkcyan solid 1px;
  /*display: none;*/
}
.popup-window {
  width: 960px;
  min-height: 590px;
  margin: 0 100px 0;
  background-color: lightgreen;
}
.popup-title {
  width: 840px;
  min-height: 124px;
  margin-left:60px;
  margin-right: 60px;
  background-color: #8904B1;
}
.popup-head {
  width: 500px;
  min-height: 68px;
  margin-top: 56px;
  margin-left: 40px;
  float: left;
  outline: black solid 1px;
}
.popup-cls-btn {
  width: 80px;
  min-height: 68px;
  float:right;
  margin-top: 56px;
  margin-right: 20px;
  outline: black solid 1px;
}
.send-form {
  width: 760px;
  min-height: 466px;
  background-color: coral;
  margin-left: 100px;
  margin-right: 100px;
}
